$background_color_main: #EFCCF4;
$dowload_color: #E9213D;
$font_color: #0E1015;

$font_family: 'Poller One', sans-serif;
$font_family_header: "Inter", sans-serif;
$font_family_text: "Poppins", sans-serif;