.three_img {
    width: 330px;
    height: 377px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-left: 366px;
    margin-bottom: 20px;


    & li {
        margin-left: 29px;
    }


}